form{
  margin: auto;
  width: 400px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgb(208, 208, 208);
  border-radius: 10px;
}
input{
  margin-top: 20px;
  width: 90%;
  height: 35px;
  padding-left: 10px;
  border: none;
  box-shadow: 0 0 10px 0 rgb(218, 218, 218);
}
#submit{
  background-color: rgb(0, 0, 33);
  color: white;
}
#product{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 60px;
  padding: 20px;
}
#main{
  height: 370px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(190, 190, 190);
  overflow: hidden;
}
#img{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 249, 250);
}
#text{
  padding: 10px;
}