form{
  height: 400px;
  width: 300px;
  padding: 10px;
  text-align: center;
  margin: auto;
}
input{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
}
#product{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}