
#aa{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}
#aa a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
form{
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 gray;
}
input{
  width: 90%;
  height: 30px;
  margin-top: 20px;
}
#data{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 30px;
}
#but{
  width: 100px;
  margin-left: 10px;
  height: 30px;
}
#list{
  box-shadow: 0 0 10px 0 rgb(209, 209, 209);
  border-radius: 10px;
  padding: 20px;
}