form{
  width: 500px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
input{
  width: 100%;
  margin-top: 10px;
  height: 35px;
  padding-left: 10px;
}
select{
  width: 101%;
  margin-top: 10px;
  height: 40px;
}