/* General body styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
#nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2c3e50;
  color: white;
}
#search{
  border-radius: 20px;
  width: 300px;
}
#icon{
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 font-size: 20px;
}

form{
  width: 500px;
  text-align: center;
  margin: auto;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Submit button */
input[type="submit"],#editdata {
  width: 104%;
  padding: 10px;
  border: none;
  background-color: #2c3e50;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Table styling for user page */
.table-container {
  margin: 20px auto;
  max-width: 800px;
}

table {
  width: 90%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #2c3e50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

img{
  width: 60px;
  height: 70px;
  
}
#drop{
  margin-left: 40%;
}
#delete,#edit{
  width: 80px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgb(200, 0, 0);
  font-size: 13px;
}
#edit{
  background-color: green;
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 20px;
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar-item {
  width: 100%;
  margin: 10px 0;
}

.sidebar-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 16px;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


/* Main Content Styles */
.app {
  display: flex;
}

.main-content {
  margin-left: 250px; /* Same as sidebar width */
  padding: 20px;
  width: 100%;
}

